/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    color: #222;
}

/* Header styles */
header {
    background-color: #bb271a;
    height: 100px;
    color: #fff;
    display: grid;
    place-items: center;
}

#title-desc {
    color: antiquewhite;
    text-align: center;
}
.header-title{
    transform: scale(1.0);
    opacity: 1;
    transition: transform 0.5s, opacity0.5s;
}

.header-title h1 {
    font-size: 2em;
    margin: 0;
}

.header-title p {
    font-style: italic;
    font-size: 1em;
}

nav {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 0;
    transition: transform 0.5s, opacity 0.5s;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

ul li {
    margin: 0 auto;
}

nav a {
    color: #000;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

nav a:hover {
    color: #bb271a;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

a {
    color: #bb271a;
    text-decoration: none;
}
a:hover {
    color: #222;
}

article {
    margin-bottom: 30px;
}

.article-title {
    color: #bb271a;
}

.article-date {
    font-style: italic;
}

.intro {
    text-align: center;
}

.intro img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.events {
    margin-top: 30px;
}

.event {
    background-color: #f8f8f8;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #bb271a;
}

.event p {
    margin: 5px 0;
}

footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

para p {
    margin-bottom: 30px;
}
/*here is the about me page coding!!!!!!!!!!! Start!!!!!!!*/
.me-content{
    font-size: 0.8em;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dog-pic{
     width: 300px;
     float: left;
     margin-right: 20px;
     font-size: 0.5em;

}

.content-right{
    float: clear;
    font-size: 0.8em;
}

.red-text {
            color: red;
            font-style: italic;
}

#TheLB{
    font-style: italic;
}
/*here is the about me page coding!!!!!!!!!!! End!!!!!!!!!!*/

/*book page css*/

.shelf {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.book-item {
    position: relative;
    width: 250px;
    cursor: pointer;
    text-align: center;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.book-item:hover {
    transform: scale(1.05);
}

.book-title {
    color: #bb271a;
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
}

.book-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

/* Popup style */
.book-info {
    display: none;
    background-color: #f8f8f8;
    padding: 10px;
    border: 1px solid #bb271a;
    position: absolute;
    bottom: 100%; /* Position above the book item */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    box-sizing: border-box;
    z-index: 1;
    border-radius: 8px;
}

/* Display the popup on hover */
.book-item:hover .book-info {
    display: block;
}

/*book page css*/

/*contact page css start here!!!!!!!!!!!*/
.contactme1{
    float: right;
    margin-left: 20px;
    width: 400px;
}
.contactme8{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
    
}
.contactme8 img{
    width: calc(50% - 10px);
    height: 200; 
    border: none;
}
.contactme8 a{
    display: block;
    width: calc(50% - 10px);
}
.contactme8 a img{
    width: 100%;
}
#contactme2{
    text-align: center;
    color: gray;
    font-size: 0.1em;
}
.contactme3{
    line-height: 2.7;
}
.contactme4{
    font-style: italic;
    font-size: 1.2em;
}
.contactme5{
    font-style: italic;
    font-size: 1.2em;
}
.contactme6{
    font-style: italic;
    font-size: 1.2em;
}
.contactme7{
    font-style: italic;
    font-size: 1.2em;
}

.Largertext{
    font-size: 1.1em;
}
/* This is Buybooks page */
