/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    color: #222;
}

/* Header styles */
header {
    background-color: #bb271a;
    height: 100px;
    color: #fff;
    display: grid;
    place-items: center;
}

#title-desc {
    color: antiquewhite;
    text-align: center;
}

.header-title h1 {
    font-size: 2em;
    margin: 0;
}

.header-title p {
    font-style: italic;
    font-size: 1em;
}

nav {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

ul li {
    margin: 0 auto;
}

nav a {
    color: #000;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
}

nav a:hover {
    color: #bb271a;
}

main {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
}

#NY-link {
    color: #bb271a;
    text-decoration: none;
}

a {
    color: #bb271a;
    text-decoration: none;
}

article {
    margin-bottom: 30px;
}

.article-title {
    color: #bb271a;
}

.article-date {
    font-style: italic;
}

.intro {
    text-align: center;
}

.intro img {
    width: 200px;
    height: auto;
    border-radius: 50%;
    margin-bottom: 10px;
}

.events {
    margin-top: 30px;
}

.event {
    background-color: #f8f8f8;
    padding: 10px;
    margin: 10px 0;
    border-left: 5px solid #bb271a;
}

.event p {
    margin: 5px 0;
}

footer {
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
}

para p {
    margin-bottom: 30px;
}
/*here is the about me page coding!!!!!!!!!!! Start!!!!!!!*/
.me-content{
    font-size: 0.8em;
    line-height: 1.6;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dog-pic{
     width: 300px;
     float: left;
     margin-right: 20px;
}

.content-right{
    float: clear;
}

.red-text {
            color: red;
            font-style: italic;
}

#TheLB{
    font-style: italic;
}

footer {
    width: 100%;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*here is the about me page coding!!!!!!!!!!! End!!!!!!!!!!*/